html, body{
    margin:0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}