html, body{
    margin:0;
    padding: 0;
}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}

.bouton{
    display: flex;
    align-items: start;
}

.titre{
    display: flex;
    justify-content: center;
}